<div id="<%= dom_id order %>">
  <p>
    <strong>Employee:</strong>
    <%= order.employee_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= order.customer_id %>
  </p>

  <p>
    <strong>Store number:</strong>
    <%= order.store_number %>
  </p>

  <p>
    <strong>Order datetime:</strong>
    <%= order.order_datetime %>
  </p>

</div>
